version: "3.8"

services:
  shop:
    image: dockware/dev:6.6.0.0
    container_name: ravenweapon-shop
    ports:
      - "80:80"       # Storefront
      - "443:443"     # HTTPS
      - "8888:8888"   # Adminer (DB management)
      - "9998:9998"   # Xdebug
      - "9999:9999"   # Xdebug
    volumes:
      # Mount the RavenTheme plugin
      - ./shopware-theme/RavenTheme:/var/www/html/custom/plugins/RavenTheme
      # Mount temp files for development
      - ./temp-base.scss:/var/www/html/custom/plugins/RavenTheme/src/Resources/app/storefront/src/scss/base.scss
      - ./temp-homepage.html.twig:/var/www/html/custom/plugins/RavenTheme/src/Resources/views/storefront/page/content/index.html.twig
      - ./temp-header.twig:/var/www/html/custom/plugins/RavenTheme/src/Resources/views/storefront/layout/header/header.html.twig
      - ./temp-footer.twig:/var/www/html/custom/plugins/RavenTheme/src/Resources/views/storefront/layout/footer/footer.html.twig
      # Mount assets
      - ./assets:/var/www/html/custom/plugins/RavenTheme/src/Resources/public/assets
    environment:
      - SHOPWARE_ADMIN_USERNAME=admin
      - SHOPWARE_ADMIN_PASSWORD=shopware
    restart: unless-stopped

# Usage:
# 1. Start: docker-compose up -d
# 2. Access storefront: http://localhost/
# 3. Access admin: http://localhost/admin (admin / shopware)
# 4. Access Adminer: http://localhost:8888
#
# After starting, run these commands to activate the theme:
# docker exec ravenweapon-shop bash -c "cd /var/www/html && bin/console plugin:refresh && bin/console plugin:install RavenTheme --activate && bin/console theme:change RavenTheme --all && bin/console cache:clear"
