{% sw_extends '@Storefront/storefront/utilities/flash-messages.html.twig' %}

{# Flash messages - rendered hidden, intercepted by RavenToast plugin #}
{% block utilities_flash_messages %}
    {% for type, messages in app.flashes %}
        {% for message in messages %}
            {# Hidden by default - RavenToast plugin will show as toast notification #}
            <div class="alert alert-{{ type }}" role="alert" data-raven-flash="{{ type }}" style="display: none !important;">
                <div class="alert-content">
                    {{ message|trans|sw_sanitize }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
