{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_header_search_suggest_result_item %}
    <li class="js-search-suggest-result search-suggest-product">
        <a class="search-suggest-product-link"
           href="{{ path('frontend.detail.page', { productId: item.id }) }}"
           title="{{ item.translated.name }}">

            {# Product Image #}
            {% if item.cover.media %}
                {% sw_thumbnails 'search-suggest-product-image-thumbnails' with {
                    media: item.cover.media,
                    sizes: { 'default': '50px' }
                } %}
            {% endif %}

            {# Product Name #}
            <span class="search-suggest-product-name">
                {{ item.translated.name }}
            </span>

            {# Product Price #}
            {% set price = item.calculatedPrice %}
            {% if item.calculatedPrices.count > 0 %}
                {% set price = item.calculatedPrices.first %}
            {% endif %}
            {% if price %}
                <span class="search-suggest-product-price">
                    {{ price.unitPrice|currency }}
                </span>
            {% endif %}
        </a>
    </li>
{% endblock %}
