{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig' %}

{# Override address section titles to use German text #}

{% block page_checkout_confirm_address_shipping_title %}
    <div class="card-title">
        Lieferadresse
    </div>
{% endblock %}

{% block page_checkout_confirm_address_billing_title %}
    <div class="card-title">
        Rechnungsadresse
    </div>
{% endblock %}

{# Override the "Same as shipping address" text - correct block name #}
{% block page_checkout_confirm_address_billing_data_equal %}
    <p>
        Gleich wie Lieferadresse
    </p>
{% endblock %}

{# Override address change links with correct structure #}
{% block page_checkout_confirm_address_shipping_actions %}
    {% set shippingAddress = context.customer.activeShippingAddress %}
    {% set addressManagerOptions = {
        initialTab: 'shipping',
        activeShippingAddressId: shippingAddress.id,
        addressManagerUrl: path('frontend.account.addressmanager.get'),
        addressSwitchUrl: path('frontend.account.address.switch-default'),
    } %}

    <div class="card-actions">
        <a href="{{ path('frontend.account.address.edit.page', {addressId: shippingAddress.id}) }}"
           title="Lieferadresse 채ndern"
           class="btn btn-light"
           data-address-manager="true"
           data-address-manager-options="{{ addressManagerOptions|json_encode }}"
        >
            Lieferadresse 채ndern
        </a>
    </div>
{% endblock %}

{% block page_checkout_confirm_address_billing_actions %}
    {% set billingAddress = context.customer.activeBillingAddress %}
    {% set addressManagerOptions = {
        initialTab: 'billing',
        addressId: billingAddress.id,
        addressManagerUrl: path('frontend.account.addressmanager.get'),
        addressSwitchUrl: path('frontend.account.address.switch-default'),
    } %}

    <div class="card-actions">
        <a href="{{ path('frontend.account.address.edit.page', {addressId: billingAddress.id}) }}"
           title="Rechnungsadresse 채ndern"
           class="btn btn-light"
           data-address-manager="true"
           data-address-manager-options="{{ addressManagerOptions|json_encode }}"
        >
            Rechnungsadresse 채ndern
        </a>
    </div>
{% endblock %}
