{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{# Override the payment method title to use German text #}
{% block page_checkout_confirm_payment_title %}
    <div class="card-title">
        Zahlungsart
    </div>
{% endblock %}
